.btn-pagination {
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 70px;
    width: 80%;
    height: 40%;
    list-style: none;
    display: flex;
    justify-content: center;
}

.btn-pagination a{
    padding: 10px;
    margin: 8px;
    border-radius: 10px;
    border: 1px solid;
    background-color: var(--hover);
    color: var(--color-primary);
    cursor: pointer;
}

.btn-pagination a:hover{
    background-color: var(--color-primary-variant);
    color: white
}

.btn-pagination-active a{
    color: white;
    background-color: var(--color-primary);
}