.list-group {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  box-sizing: border-box;
  width: max-content;
  display: inline-block;
  text-align: center;
  width: 700px;
  font-size: larger;
}

.title {
    text-align: left;
    margin-left: 30px;
    font-size: 30px;
}

.owner {
    text-align: right;
    margin-right: 30px;
    margin-bottom: 10px;
}