.main-all {
    display: flex;
    flex-direction: row;
    padding: 6rem 0 4rem;
    max-width: max-content;
    background: #0E3F7A;
}

.intro {
    display: block;
    margin: -10px 0 100px 200px;
    padding-right: 700px;
    color: white;
}