.main-all {
    display: relative;
    flex-direction: column;
    justify-content: space-between;
    height: 900px;
    max-height: 100%;
}

.intro {
    display: block;
    max-width: 100%;
    height: 550px;
    max-height: 100%;
    width: auto;
    background: var(--color-primary);
}

.intro-content {
    display: block;
    position: absolute;
    left: 28%;
    top: 28%;
    color: white;
    max-width: 100%;
    max-height: 100%;
}

.footer {
    width: auto;
    position: relative;
    max-width: 100%;
    bottom: 0;
    max-height: 100%;
    height: auto;
    transform: translate(25%, 75%);
}

.footer-item {
    display: flex;
    padding-left: 20px;
    text-align: center;
}

.footer-item a {
    display: inline-block;
    color: var(--color-footer);
    font-size: 14px;
}

.footer-item a:hover {
    color: var(--color-primary);
}

.line {
    width: 850px;
    margin-top: 30px;
    margin-bottom: 66px;
}

.footer-intro {
    margin-left: 30px;
}

.img-main {
    z-index: 100;
    object-fit: cover;
    width: 300px;
    height: 300px;
    position: absolute;
    left: 55%;
    top: 22%;
}

.img-footer {
    z-index: 100;
    object-fit: cover;
    width: 100px;
    height: 50px;
    position: absolute;
    bottom: 35%;
}

.copyright {
    position: absolute;
    right: 5%;
    bottom: 25%;
}