@media (min-width: 1024px) {
  .main-all-user {
    display: relative;
    flex-direction: column;
    justify-content: space-between;
    max-height: 100%;
    height: 100%;
    margin-bottom: -7%;
  }

  .intro {
    display: flex;
    max-width: 100%;
    background: var(--color-primary);
  }

  .intro-content-user {
    display: block;
    position: absolute;
    left: 20%;
    top: 28%;
    color: white;
    max-width: 100%;
    max-height: 100%;
  }

  .img-main {
    z-index: 100;
    object-fit: cover;
    width: 420px;
    height: 300px;
    position: absolute;
    left: 52%;
    top: 22%;
  }

  .btn-urp {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 10px;
    padding: 2% 7%;
  }

  .btn-urp:hover {
    background-color: var(--color-hover);
  }

  .text-userhome {
    margin-top: -7%;
    margin-bottom: 8%;
  }
}

@media screen and (max-width: 390px) {
  .main-all {
    display: relative;
    flex-direction: column;
    justify-content: space-between;
    max-height: 100%;
    height: 100%;
    margin-bottom: -7%;
  }

  .intro {
    display: block;
    max-width: 100%;
    height: 550px;
    max-height: 100%;
    width: auto;
    background: white;
    justify-content: center;
  }

  .intro-content {
    display: block;
    color: black;
    max-width: 100%;
    max-height: 100%;
  }

  .img-main {
    z-index: 100;
    object-fit: cover;
    width: 254px;
    height: 230px;
  }

  .top-word {
    /* margin-bottom: -10px; */
  }
}