.home-all {
    display: flex;
    flex-direction: row;
    padding: 7rem 0 4rem;
    background: #0E3F7A;
}

.intro {
    display: block;
    margin-right: 50px;
    margin-left: 200px;
    font-size: large;
    color: white;
    width: max-content;
    padding-right: 650px;
    padding-bottom: 100px;
}

.container {
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    box-sizing: border-box;
    margin-top: 4px;
    padding: 20px;
    width: max-content;
    margin-right: 200px;
}