@media (min-width: 1024px) {
  .background {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 200;
  }

  .container-modal-pw {
    font-size: 20px;
    position: fixed;
    left: 50%;
    top: 28%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 16px;
    background: #ffffff;
    border-radius: 5%;
    text-align: center;
    z-index: 102;
  }

  .menuContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    padding-top: 3rem;
  }

  /* .logo-login {
    width: 27%;
    height: 5%;
    margin-top: 10%;
    position: relative;
  } */

  .closeIcon {
    font-size: 20px;
    position: absolute;
    top: 1rem;
    right: 1rem;
    height: 1rem;
    width: 2rem;
    cursor: pointer;
    background-color: transparent;
    font-weight: lighter;
    cursor: pointer;
  }

  .input-email {
    display: block;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 85%;
    position: relative;
    left: 7%;
    font-size: 16px;
    margin-top: 10%;
    font-weight: 400;
  }

  .btn-getemail {
    background: transparent;
    color: var(--color-primary);
    position: relative;
    margin-top: 5.5%;
    cursor: pointer;
    font-size: 70%;
  }

  .btn-getemail:hover {
    color: #000000;
  }

  .btn-findpw {
    background: transparent;
    color: var(--color-gray);
    position: relative;
    margin-left: 33%;
    margin-top: 5.5%;
    cursor: pointer;
    font-size: 70%;
  }

  .btn-findpw:hover {
    color: #000000;
  }
}

@media screen and (max-width: 390px) {
    .background {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 200;
  }

  .container-modal-pw {
    font-size: 20px;
    position: fixed;
    left: 50%;
    top: 28%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 16px;
    background: #ffffff;
    border-radius: 5%;
    text-align: center;
    z-index: 102;
  }

  .menuContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    padding-top: 3rem;
  }

  .closeIcon {
    font-size: 20px;
    position: absolute;
    top: 1rem;
    right: 1rem;
    height: 1rem;
    width: 2rem;
    cursor: pointer;
    background-color: transparent;
    font-weight: lighter;
    cursor: pointer;
  }

  .input-email {
    display: block;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 85%;
    position: relative;
    left: 7%;
    font-size: 16px;
    margin-top: 10%;
    font-weight: 400;
  }

  .btn-getemail {
    background: transparent;
    color: var(--color-primary);
    position: relative;
    margin-top: 5.5%;
    cursor: pointer;
    font-size: 70%;
  }

  .btn-getemail:hover {
    color: #000000;
  }

  .btn-findpw {
    background: transparent;
    color: var(--color-gray);
    position: relative;
    margin-left: 30%;
    margin-top: 26px;
    cursor: pointer;
    font-size: 13px;
  }

  .btn-findpw:hover {
    color: #000000;
  }
}
