@media (min-width: 1024px) {
    .container-changepw {
        z-index: 12;
        padding: 20px 0 20px;
        text-align: center;
        position: relative;
    }
    
    .change-pw {
        position: relative;
        margin-bottom: 2%;
    }

    .new-password {
        position: relative;
        margin-bottom: 20px;
    }

    .new-password-recheck {
        position: relative;
        margin-bottom: 20px;
    }

    .text-newpassword {
        position: relative;
        right: 9.2%;
    }

    .text-newpassword-recheck {
        position: relative;
        right: 8.8%;
    }

    .changepw-input-newpw {
        position: relative;
        padding: 14px 16px;
        border: 1px solid #dddfe2;
        border-radius: 6px;
        width: 20%;
        font-size: 17px;
    }

    .changepw-input-newpw-recheck {
        position: relative;
        padding: 14px 16px;
        border: 1px solid #dddfe2;
        border-radius: 6px;
        width: 20%;
        font-size: 17px;
    }

    .btn-changepw {
        word-wrap: break-word;
        cursor: pointer;
        display: inline-block;
        position: relative;
        text-decoration: none;
        background-color: var(--color-primary);
        color: rgb(255, 255, 255);
        border: none;
        border-radius: 6px;
        font-size: 20px;
        line-height: 48px;
        padding: 0 16px;
        width: 20%;
        margin-top: 4%;
    }
}

@media screen and (max-width: 390px) {
    .container-changepw {
        z-index: 12;
        padding: 20px 0 20px;
        text-align: center;
        position: relative;
    }
    
    .change-pw {
        position: relative;
        margin-bottom: 2%;
        right: 5.6%;
    }

    .new-password {
        position: relative;
        margin-bottom: 10px;
    }

    .new-password-recheck {
        position: relative;
        margin-bottom: 20px;
    }

    .text-newpassword {
        position: relative;
        left: 5%;
    }

    .text-newpassword-recheck {
        position: relative;
        left: 5%;
    }

    .changepw-input-newpw {
        position: relative;
        padding: 14px 16px;
        border: 1px solid #dddfe2;
        border-radius: 10px;
        width: 70%;
        font-size: 17px;
        left: 5%;
        margin-bottom: 7%;
    }

    .changepw-input-newpw-recheck {
        position: relative;
        padding: 14px 16px;
        border: 1px solid #dddfe2;
        border-radius: 10px;
        width: 70%;
        font-size: 17px;
        left: 5%;
        margin-bottom: 7%;
    }

    .btn-changepw {
        word-wrap: break-word;
        cursor: pointer;
        display: inline-block;
        position: relative;
        text-decoration: none;
        white-space: nowrap;
        background-color: var(--color-primary);
        color: rgb(255, 255, 255);
        border: none;
        border-radius: 6px;
        font-size: 20px;
        line-height: 48px;
        padding: 0 16px;
        width: 90%;
        left: 5%;
        margin-top: 12%;
    }
}