.btn-findpw {
    background: transparent;
    color: var(--color-gray);
    position: relative;
    /* left: 37%; */
    margin-left: 33%;
    margin-top: 5.5%;
    cursor: pointer;
    font-size: 70%;
}

.btn-findpw:hover {
    color: #000000;
}