.btn-input-email {
  background: transparent;
  color: var(--color-gray);
  position: relative;
  /* left: 37%; */
  margin-left: 33%;
  margin-top: 5.5%;
  cursor: pointer;
  font-size: 70%;
}

.btn-findpw {
  background: transparent;
  color: var(--color-gray);
  position: relative;
  /* left: 37%; */
  /* margin-left: 33%; */
  margin-top: 5.5%;
  cursor: pointer;
  font-size: 70%;
}

.modal-findpw-middle {
  flex-direction: column;
  display: flex;
  position: relative;
}

.p-findpw {
  background: transparent;
  color: var(--color-gray);
  position: relative;
  /* left: 37%; */
  /* margin-left: 33%; */
  margin-left: 5.5%;
  margin-right: 5.5%;
  margin-top: 5.5%;
  font-size: 70%;
}

.btn-findpw:hover {
  color: #000000;
}

.login-findpw-email-input {
  display: block;
  padding-bottom: 14px;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 85%;
  position: relative;
  left: 7%;
  font-size: 70%;
  margin-top: 10%;
  background: transparent;
  font-weight: 400;
}
