@media (min-width: 1024px) {
  .background {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 200;
  }

  .container-modal {
    font-size: 20px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 24%;
    padding: 16px;
    background: #ffffff;
    border-radius: 5%;
    text-align: center;
    z-index: 102;
  }

  .menuContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    padding-top: 3rem;
  }

  .logo-login {
    width: 27%;
    height: 5%;
    margin-top: 10%;
    position: relative;
  }

  .closeIcon {
    font-size: 20px;
    position: absolute;
    top: 1rem;
    right: 1rem;
    height: 1rem;
    width: 2rem;
    cursor: pointer;
    background-color: transparent;
    font-weight: lighter;
    cursor: pointer;
  }

  .login-email-input {
    display: block;
    padding-bottom: 14px;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 85%;
    position: relative;
    left: 7%;
    font-size: 16px;
    margin-top: 10%;
    background: transparent;
    font-weight: 400;
  }

  .login-password-input {
    display: block;
    padding-bottom: 14px;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 85%;
    position: relative;
    left: 7%;
    font-size: 16px;
    margin-top: 10%;
    font-weight: 400;
  }

  .login-input {
    position: relative;
  }

  .btn-login {
    position: relative;
    width: 85%;
    height: 10%;
    background-color: var(--color-primary);
    color: white;
    border-radius: 10px;
    margin-top: 10%;
    font-weight: 500;
    cursor: pointer;
    font-size: 16px;
    padding-top: 3%;
    padding-bottom: 3%;
  }

  .btn-login-register {
    display: block;
    position: relative;
    width: 85%;
    background-color: white;
    color: black;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    line-height: 230%;
    left: 7.5%;
  }

  .btn-login:hover {
    filter: brightness(60%);
  }

  .btn-login-register:hover {
    color: #207dff;
  }

  .login-modal-middle {
    display: flex;
    position: relative;
    flex-wrap: wrap;
  }

  .keep-login {
    text-align: center;
    display: flex;
    position: relative;
    left: 6%;
    width: max-content;
    margin-top: 5%;
  }

  .login-text {
    top: 25%;
    margin-left: 9px;
    font-size: 70%;
    color: var(--color-gray);
  }

  .btn-onoff {
    position: absolute;
    top: -0.5px;
    left: -1px;
    display: inline-block;
    width: 19px;
    height: 19px;
    border-radius: 20px;
    background: white;
    transition: 0.2s;
    border: #aaaaaa;
  }

  .switch-label {
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 40px;
    /* width: 60%; */
    height: 22px;
    /* height: 50%; */
    background: #aaaaaa;
    border: 2px solid #aaaaaa;
    border-radius: 20px;
    transition: 0.2s;
    margin-top: 10px;
  }

  .switch {
    position: absolute;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  .switch:checked + .switch-label {
    background: var(--color-primary);
    border: 2px solid var(--color-primary);
  }

  .switch:checked + .switch-label:hover {
    background: var(--color-primary);
  }

  .switch:checked + .switch-label .btn-onoff {
    left: 17px;
    background: #fff;
    box-shadow: 1px 2px 3px #00000020;
  }

  .btns-login {
    position: relative;
  }
}

@media screen and (max-width: 390px) {
  .container-modal {
    font-size: 20px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    padding: 16px;
    background: #ffffff;
    border-radius: 5%;
    text-align: center;
    z-index: 102;
  }

  .menuContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    padding-top: 3rem;
  }

  .logo-login {
    width: 27%;
    height: 5%;
    margin-top: 10%;
    position: relative;
  }

  .closeIcon {
    font-size: 20px;
    position: absolute;
    top: 1rem;
    right: 1rem;
    height: 1rem;
    width: 2rem;
    cursor: pointer;
    background-color: transparent;
    font-weight: lighter;
    cursor: pointer;
  }

  .login-email-input {
    display: block;
    padding-bottom: 14px;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 85%;
    position: relative;
    left: 7%;
    font-size: 16px;
    margin-top: 10%;
    background: transparent;
    font-weight: 400;
  }

  .login-password-input {
    display: block;
    padding-bottom: 14px;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 85%;
    position: relative;
    left: 7%;
    font-size: 16px;
    margin-top: 10%;
    font-weight: 400;
  }

  .login-input {
    position: relative;
  }

  .btn-login {
    position: relative;
    width: 85%;
    height: 10%;
    background-color: var(--color-primary);
    color: white;
    border-radius: 10px;
    margin-top: 10%;
    font-weight: 500;
    cursor: pointer;
    font-size: 16px;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-bottom: 4%;
  }

  .btn-login-register {
    display: block;
    position: relative;
    width: 85%;
    background-color: white;
    color: black;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    line-height: 230%;
    left: 7.5%;
  }

  .btn-login:hover {
    filter: brightness(60%);
  }

  .btn-login-register:hover {
    color: #207dff;
  }

  .login-modal-middle {
    display: flex;
    position: relative;
    flex-wrap: nowrap;
  }

  .keep-login {
    text-align: center;
    display: flex;
    position: relative;
    left: 6%;
    width: max-content;
    margin-top: 5%;
  }

  .login-text {
    margin-top: 10px;
    margin-left: 9px;
    font-size: 13px;
    color: var(--color-gray);
  }

  .btn-onoff {
    position: absolute;
    top: -0.5px;
    left: -1px;
    display: inline-block;
    width: 19px;
    height: 19px;
    border-radius: 20px;
    background: white;
    transition: 0.2s;
    border: #aaaaaa;
  }

  .switch-label {
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 40px;
    /* width: 60%; */
    height: 22px;
    /* height: 50%; */
    background: #aaaaaa;
    border: 2px solid #aaaaaa;
    border-radius: 20px;
    transition: 0.2s;
    margin-top: 10px;
  }

  .switch {
    position: absolute;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  .switch:checked + .switch-label {
    background: var(--color-primary);
    border: 2px solid var(--color-primary);
  }

  .switch:checked + .switch-label:hover {
    background: var(--color-primary);
  }

  .switch:checked + .switch-label .btn-onoff {
    left: 17px;
    background: #fff;
    box-shadow: 1px 2px 3px #00000020;
  }

  .btns-login {
    position: relative;
  }
}