@media (min-width: 1024px) {
  .nav {
    display: flex;
    width: 100%;
  }

  .navbar {
    height: 10vh;
    transition: 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-white);
    width: 100%;
    box-shadow: 1px 1px 8px 1px rgb(0 0 0 / 12%) inset;
    line-height: 3.2;
  }

  .navbar-logo {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 7rem;
    position: relative;
    left: 8.38%;
  }

  .nav-items {
    position: relative;
    display: flex;
    list-style: none;
    text-align: center;
    width: 70vw;
    left: -16%;
    justify-content: center;
  }

  .nav-item {
    display: flex;
    align-items: center;
    height: 10vh;
  }

  .nav-item a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    margin-right: 2rem;
    border-radius: 5px;
    font-weight: 500;
  }

  .nav-item a:hover {
    color: var(--color-primary);
  }

  .nav-item .submenu-item {
    color: var(--color-gray);
  }

  .nav-item .submenu-item:hover {
    color: black;
  }

  .nav-main {
    z-index: 100;
    object-fit: cover;
    width: 100px;
    height: 22px;
    position: absolute;
    filter: brightness(100%);
  }

  .nav-right {
    position: absolute;
    right: 19%;
  }
}
