.btn-register-nav {
    border: none;
    background: transparent;
    padding: 6px 16px;
    font-size: 1.1rem;
    color: white;
    border-radius: 5px;
    transition: 0.3s all ease-out;
    cursor: pointer;
  }
  
  .btn-register-nav:hover {
    color: rgba(187, 187, 187, 0.562);
  }