@media (min-width: 1024px) {
    .text-jobs {
        position: relative;
        left: 20%;
        font-size: 17px;
        margin-top: 1%;
        margin-bottom: 1%;
    }

    .top-jobs {
        position: relative;
        left: 20%;
        display: flex;
    }

    .select1-jobs {
        background-color: rgba(241, 241, 241, 1);
        border-radius: 50px;
        width: 7%;
        padding: 0 10px;
    }

    .select2-jobs {
        background-color: transparent;
        border-radius: 50px;
        width: 10%;
        padding: 0 10px;
        border: 1px solid rgba(241, 241, 241, 1);
        margin-left: 1%;
    }

    .search-jobs {
        background-color: transparent;
        border-radius: 50px;
        width: 15%;
        padding: 0 8px;
        border: 1px solid rgba(241, 241, 241, 1);
        margin-left: 27%;
    }

    .search-jobs-input {
        width: 80%;
    }

    .btn-search-jobs {
        left: 12%;
        top: 4px;
        background-color: transparent;
        position: relative;
        cursor: pointer;
    }

    .img-mag-jobs {
        height: 18px;
        position: relative;
    }

    .middle-jobs {
        position: relative;
        width: auto;
        flex-grow: 1;
    }

    .job-cards {
        position: relative;
        left: 20%;
        margin-top: 2%;
        display: flex;
        flex-flow: row wrap;
        width: 70%;
    }

    .job-card {
        margin-right: 1%;
        margin-bottom: 1%;
    }

    .img-job {
        border: 1px solid black;
        border-radius: 1%;
        width: 100%;
        height: 170px;
        background: transparent;
    }

    .top-job {
        position: relative;
        display: flex;
    }

    .location-job {
        font-size: 15px;
        color: var(--color-gray);
    }

    .name-job {
        font-weight: 600;
        margin-left: 1%;
    }

    .content-job {
        font-weight: 600;
        position: relative;
        width: 75%;
    }

    .exp-job {
        font-size: 15px;
        color: var(--color-gray);
    }

    .date-job {
        font-size: 15px;
        color: var(--color-gray);
    }
}