@media (min-width: 1024px) {
    .questions-view {
        position: relative;
        width: 100%;
        padding-bottom: 1px;
        top: 22px;
    }

    .questions-contents-all {
        position: relative;
        left: 30%;
        top: 22px;
        width: 270px;
    }

    .questions-profile {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        border: 1px solid rgba(0, 0, 0, 0.6);
        background-color: transparent;
    }

    .questions-photo {
        width: 30px;
        height: 30px;
        /* filter: brightness(80%); */
    }

    .questions-detail-top {
        display: flex;
    }
    
    .questions-owner {
        margin-left: 10px;
        position: relative;
        margin-top: 3px;
    }

    .questions-date {
        position: relative;
        margin-top: 4px;
        margin-left: 10px;
        font-size: 14px;
        color: rgba(128,128,128,1);
    }

    .questions-top {
        display: flex;
        margin-top: 10px;
    }

    .questions-status {
        color: white;
        background-color: var(--color-primary);
        padding: 2px 5px 0;
        font-size: 14px;
        margin-right: 10px;
        height: 1%;
    }

    .questions-title {
        font-weight: 600;
        font-size: 20px;
    }

    .questions-content {
        font-size: 18px;
        margin-top: 20px;
        min-height: 100px;
    }

    .questions-tags {
        display: flex;
        width: 177px;
    }

    .questions-tag {
        margin-top: 10px;
        text-align: center;
        position: relative;
        border-radius: 100px;
        border: 1px solid rgba(219,219,219,1);
        width: 80px;
        background-color: rgba(241,241,245,1);
        font-size: 14px;
        margin-right: 10px;
    }

    .questions-options {
        display: flex;
        margin-top: 15px;
    }

    .questions-sidebar-status {
        margin-right: 15px;
        border: 1px solid rgba(241, 241, 241, 1);
        border-radius: 10px;
        text-align: center;
        background-color: var(--color-primary);
        color: white;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-right: 15px;
        padding-left: 15px;
        margin-bottom: 10%;
    }

    .questions-sidebar-item {
        margin-right: 15px;
        border: 1px solid rgba(241, 241, 241, 1);
        border-radius: 10px;
        padding-top: 7px;
        /* padding-bottom: 7px; */
        padding-right: 15px;
        padding-left: 15px;
        margin-bottom: 10%;
        text-align: center;
    }

    .questions-sidebar-btn {
        margin-right: 15px;
        border: 1px solid rgba(241, 241, 241, 1);
        border-radius: 10px;
        padding-top: 7px;
        /* padding-bottom: 7px; */
        padding-right: 15px;
        padding-left: 15px;
        margin-bottom: 10%;
        cursor: pointer;
        text-align: center;
    }

    .questions-sidebar-btn:hover {
        background-color: var(--color-hover);
    }

    .img-detail-hit {
        width: 30px;
        height: 30px;
        position: relative;
        top: 5px;
        right: 1px;
    }

    .detail-sidebar-text {
        position: relative;
        bottom: 3px;
        right: 3px;
        font-size: 14px;
    }

    .detail-sidebar-btn {
        position: relative;
        bottom: 3px;
        right: 3px;
        background-color: transparent;
        cursor: pointer;
        font-size: 14px;
    }


    .img-detail-like {
        width: 30px;
        height: 30px;
        position: relative;
        top: 5px;
        right: 5px;
    }

    .questions-detail-bottom {
        position: relative;
        background-color: rgb(242, 242, 242);
        width: 100%;
        margin-top: 3%;
        padding-bottom: 10px;
        height: 100%;
    }

    .questions-write-comments {
        filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.102));
        border-radius: 0.5rem;
        background: #fff;
        position: relative;
        width: 40%;
        height: 100%;
        left: 30%;
        top: 20px;
        padding-left: 2ch;
        padding-top: 1ch;
        color: var(--color-gray);
        padding-bottom: 1ch;
    }

    .btn-comment {
        border-radius: 50px;
        position: relative;
        left: 66%;
        width: 10%;
        padding: 1%;
        background-color: black;
        color: white;
        font-size: 12px;
        cursor: pointer;
    }

    .btn-comment:hover {
        filter: brightness(70%);
    }
    
    .questions-comments-all {
        position: relative;
        left: 30%;
    }

    .number-comments {
        margin-top: 3%;
    }
    
    .number-comments-text {
        padding-top: 1.7%;
    }

    .container-comments {
        filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.102));
        border-radius: 0.5rem;
        background: #fff;
        position: relative;
        width: 50%;
        height: 100%;
        left: -4%;
        margin-top: 10px;
    }

    .comment-detail {
        position: relative;
        left: 8%;
    }

    .comments-top {
        display: flex;
        padding-top: 2%;
    }

    .comment-photo {
        width: 35px;
        height: 35px;
    }

    .comment-owner {
        font-size: 17px;
        font-weight: 500;
    }

    .comment-line {
        width: 84%;
        margin-bottom: 3%;
        background-color: rgba(128,128,128,1);
    }

    .comment-content {
        font-weight: 400;
    }

    .comment-date {
        font-size: 14px;
        color: rgba(128,128,128,1);
    }

    .comments-options {
        display: flex;
        margin-top: 3%;
        padding-bottom: 3%;
    }

    .comment-comment {
        margin-right: 15px;
    }

    .img-comment-comment {
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }

    .img-comment-like {
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }
    
    .btn-modify {
        background-color: transparent;
        border: 1px solid rgba(241, 241, 241, 1);
        border-radius: 10%;
        padding: 5% 5%;
        padding-top: 7%;
        cursor: pointer;
        color: black;
        font-size: 13px;
        margin-right: 10px;
      }
    
      .btn-modify:hover {
        background-color: var(--color-hover);
      }
    
      .btn-delete-post {
        background-color: transparent;
        border: 1px solid rgba(241, 241, 241, 1);
        border-radius: 10%;
        padding: 5% 5%;
        cursor: pointer;
      }
    
      .btn-delete-post:hover {
        background-color: var(--color-hover);
      }
    
      .questions-btns {
        left: 23.8%;
        position: relative;
        display: flex;
        width: 90px;
        top: 7px;
      }

      .questions-sidebar {
          position: relative;
          left: 48%;
          top: 22px;
      }

      .questions-content-bottom {
          display: flex;
          position: relative;
          left: 30%;
          top: 20px;
      }

      /* .questions-detail-top {
          width: 100%;
      } */
}