@media (min-width: 1024px) {
  .all-questions {
    /* height: max-content; */
    height: 100%;
  }

  .top-questions {
    position: relative;
    background-color: rgb(242, 242, 242);
    width: 100%;
    padding-bottom: 1px;
    top: 10px;
  }

  .top-msg {
    font-weight: bold;
    position: relative;
    left: 26%;
    top: 37px;
    font-size: 25px;
  }

  .top-msg-gray {
    position: relative;
    left: 26%;
    top: 37px;
    font-size: 20px;
  }

  .top-cards {
    position: relative;
    left: 26%;
    margin-top: 65px;
    margin-bottom: 70px;
    display: flex;
    width: 16.5%;
  }

  .top-card {
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.102));
    border-radius: 0.5rem;
    background: #fff;
    position: relative;
    display: flex;
    width: 100%;
    margin-right: 20px;
    height: 130%;
  }

  .top-photo {
    width: 70px;
    height: 70px;
    filter: brightness(80%);
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 20px;
  }

  .top-title {
    font-style: normal;
    font-weight: normal;
    margin-top: 10px;
    max-width: 100%;
    font-size: 15px;
    font-weight: bold;
    height: 20%;
  }

  .top-people {
    font-style: normal;
    font-weight: normal;
    color: rgba(128, 128, 128, 1);
    font-size: 13px;
  }

  .top-content {
    position: relative;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    color: rgba(80, 80, 80, 1);
    margin-bottom: 10px;
    margin-right: 30px;
    max-width: 80%;
    height: 35%;
  }

  .top-date {
    position: fixed;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    color: rgba(80, 80, 80, 1);
    bottom: 0;
  }

  .top-circle {
    display: flex;
    border-radius: 10rem;
  }

  .top-detail {
    display: block;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
  }

  .body-questions {
    display: block;
    margin-bottom: 10%;
  }

  .search-and-write {
    display: flex;
    position: relative;
    top: 40px;
    left: 24.5%;
  }

  .questions-search {
    display: flex;
    width: 40%;
    height: 100px;
    stroke: rgba(219, 219, 219, 1);
  }

  .search-input {
    width: 65%;
    border-radius: 100px;
    border: 1px solid rgba(219, 219, 219, 1);
    height: 2.75rem;
    font-size: 16px;
    padding-left: 2ch;
  }

  .btn-questions-write {
    border-radius: 100px;
    color: white;
    background-color: #303030;
    width: 200%;
    position: relative;
    left: 200%;
    height: 40px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
  }

  .btn-questions-write:hover {
    filter: brightness(60%);
  }

  .img-mag {
    z-index: 100;
    object-fit: cover;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 23%;
    top: 11px;
  }

  .btn-mag {
    cursor: pointer;
  }

  .select-questions {
    position: relative;
    left: 28%;
  }

  .questions-line {
    border: solid 1px lightgray;
    margin-top: 10px;
    width: 59%;
    position: relative;
    left: 28%;
    justify-content: center;
  }

  .post-header {
    display: flex;
    position: relative;
    left: 28%;
    margin-top: 30px;
  }

  .post-status {
    color: white;
    background-color: var(--color-primary);
    padding: 2px 5px 0;
    font-size: 14px;
  }

  .post-title {
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
  }

  .post-body {
    display: flex;
    position: relative;
    left: 28%;
    margin-top: 10px;
    width: 60%;
  }

  .post-comment {
    margin-right: 18px;
    margin-left: 170px;
    font-size: 16px;
  }

  .post-options {
    display: flex;
    position: absolute;
    left: 62%;
  }

  .text-hit {
    text-align: center;
  }

  .text-like {
    text-align: center;
  }

  .text-comment {
    text-align: center;
  }

  .post-hit {
    margin-right: 18px;
  }

  .post-like {
    margin-right: 18px;
  }

  .post-tag {
    margin-top: 10px;
    text-align: center;
    position: relative;
    left: 28%;
    border-radius: 100px;
    border: 1px solid rgba(219, 219, 219, 1);
    width: 80px;
    background-color: rgba(241, 241, 245, 1);
    font-size: 14px;
    margin-right: 10px;
  }

  .tags {
    display: flex;
  }

  .post-tail {
    display: flex;
    position: relative;
    left: 28%;
    margin-top: 20px;
  }

  .post-owner {
    font-size: 14px;
  }

  .post-date {
    margin-left: 20px;
    color: rgba(128, 128, 128, 1);
    font-size: 14px;
  }

  .post-content {
    max-width: 70%;
  }

  .choice-tag {
    position: relative;
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.102));
    border-radius: 0.5rem;
    width: 14%;
    height: max-content;
    left: 8%;
    margin-top: 30px;
    display: flex;
    flex-flow: row wrap;
    background: #fff;
    padding: 1%;
    z-index: 100;
  }

  .btn-choice {
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.102);
    background-color: transparent;
    width: 50px;
    height: 50px;
    margin-top: 20px;
    cursor: pointer;
    margin-left: 6%;
  }

  .img-choice {
    z-index: 100;
    object-fit: cover;
    width: 30px;
    height: 30px;
    filter: brightness(70%);
    /* filter: opacity(0.5) drop-shadow(0 0 0 ); */
  }

  .img-choiced {
    z-index: 100;
    object-fit: cover;
    width: 30px;
    height: 30px;
    filter: brightness(100%);
    /* filter: opacity(0.5) drop-shadow(0 0 0 ); */
  }

  .btn-choice:hover .img-choice {
    filter: brightness(100%);
  }

  .img-comment {
    z-index: 100;
    object-fit: cover;
    width: 35px;
    height: 25px;
    position: relative;
  }

  .img-hit {
    z-index: 100;
    object-fit: cover;
    width: 35px;
    height: 25px;
    position: relative;
  }

  .img-like {
    z-index: 100;
    object-fit: cover;
    width: 35px;
    height: 25px;
    position: relative;
  }

  .body-content {
    position: relative;
    right: 13.3%;
    display: block;
    width: 90%;
  }

  .choicing {
    display: flex;
  }

  .list-topcards {
    display: flex;
  }

  .cat-menu {
    position: relative;
    height: 40px;
    top: 30px;
  }

  .cat-menu-items {
    position: relative;
    width: 100%;
    left: 24.5%;
  }

  .cat-item {
    display: inline;
    margin-right: 20px;
    color: var(--color-gray);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }

  .cat-item:hover {
    transition: var(--transition);
    color: black;
  }

  .cat-item-selected {
    display: inline;
    margin-right: 20px;
    color: var(--color-primary);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border-bottom: 2px solid var(--color-primary);
  }

  a {
    color: var(--color-primary);
    transition: var(--transition);
  }

  a:hover {
    color: var(--color-white);
  }

  .btn-pagination {
    margin-left: 17%;
    margin-top: 3%;
    margin-bottom: -7%;
    position: relative;
    height: 100px;
  }
}
