.content {
  max-height: max-content;
  /* margin-top: auto; */
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  width: max-content;
  height: 500px;
  position: absolute;
  left: 380px;
  bottom: 130px;
}

.article-list {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.btn-write {
  word-wrap: break-word;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
  background-color: var(--color-primary);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 6px;
  font-size: 20px;
  line-height: 48px;
  padding: 0 16px;
  width: 200px;
  align-items: right;
  margin: 10px 0px 10px 0px;
}

.btn-write:hover {
  background-color: var(--color-hover);
}
