.qna-header {
    height: 24rem;
    margin: 0;
    background: linear-gradient(180deg,#0E3F7A,#0E3F7A 75%,transparent 0,transparent);
}

.container-board {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
    box-sizing: border-box;
}

h2 {
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-right: 900px;
}

.board-best-item {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
    position: relative;
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    bottom: 70%;
}

.qna-card {
    height: 200%;
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
    background: #fff;
    border-radius: 0.5rem;
    box-shadow: 10px 10px 20px 1px rgb(0 0 0 / 5%);
    bottom: 25%;
}

.qna-card:hover{
    transform: translateY(-10px);
}

.type {
    margin-bottom: 0.25rem;
    color: #828086;
}

.title {
    font-size: 1.25rem;
    font-weight: 700;
    word-break: break-word;
}

.title a {
    display: flex;
    align-items: center;
    color: #3f3f3f;
    text-decoration: none;
}

.content {
    max-height: max-content;
    margin-top: auto;
    margin-bottom: 0.5rem;
    overflow: hidden;
    font-size: .875rem;
    color: #828086;
    text-decoration: none;
    word-break: break-word;
}

.metadata {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-left: 0.5rem;
}

.metadata-item {
    display: inline-flex;
    align-items: center;
    margin-left: 0.5rem;
    color: #828086;
}

.main-area {
    margin: 1.5rem 0 2rem;
    box-sizing: border-box;
}

.main-container {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-between;
}

.qnas {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    flex: 3;
}

.filter-area {
    display: flex;
    justify-content: space-between;
    margin-top: 5.4375rem;
}

.orders {
    display: flex;
    flex-direction: row;
}

.order-item {
    margin-right: 0.875rem;
    align-items: center;
}

.check-icon {
    margin-right: 0.25rem;
    color: #6b7af7;
}

.active {
    font-weight: 700;
    color: #6b7af7;
}

.article-list {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background: #fff;
    border-radius: 0.5rem;
    box-shadow: 10px 10px 20px 1px rgb(0 0 0 / 5%);
    padding-bottom: 10px;
}

.search {
    margin: 1rem 1.5rem;
}

.search-input {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.input-search {
    height: 2.75rem;
    padding: 0.5rem;
    background: #f0f0f5;
    border: transparent;
    border-right: 0;
    border-radius: 0 2rem 2rem 0;
    width: 800px;
}

.article-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 1.5rem;
    
}

.item-content {
    flex: 1 1 0;
    min-width: 0;
}

.item-body {
    color: #828086;
}

.body-link {
    word-break: break-word;
}

.item-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.25rem;
}

.left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.time {
    padding: 0.25rem;
    font-size: .75rem;
    color: #828086;
}

.profile-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}

.nickname {
    color: #828086;
}

.item-meta {
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
}

.key {
    margin-bottom: 0.25rem;
    color: #828086;
}

.value {
    font-weight: 700;
    color: #0E3F7A;
}

.page-link {
    min-width: 1.5rem;
    height: 1.5rem;
    padding: 0;
    margin: 0 0.125rem;
    font-size: .875rem;
    line-height: 1.5rem;
    color: #3f3f3f;
    text-align: center;
    background-color: transparent;
    border: none;
    border-radius: 99px;
}


.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
    justify-content: center!important;
}