.container-register {
  z-index: 12;
  padding: 20px 0 20px;
  text-align: center;
  position: relative;
}

.input-container {
  text-align: center;
}

.register-input-email {
  position: relative;
  padding: 14px 16px;
  border: 1px solid #dddfe2;
  border-radius: 6px;
  width: 332px;
  font-size: 17px;
}

.register-input {
  position: relative;
  display: block;
  margin: 30px 10px 10px 30px;
  padding: 14px 16px;
  border: 1px solid #dddfe2;
  border-radius: 6px;
  width: 332px;
  font-size: 17px;
}

.register-email {
  /* margin-top: -12px; */
}

.btn-validate {
  cursor: pointer;
  background-color: var(--color-primary);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 6px;
  padding: 10px;
  width: 96px;
  height: 40px;
  text-align: center;
  margin: 34px 10px 0;
}

.btn-validate:hover {
  background-color: var(--color-hover);
}

.btn-register {
  word-wrap: break-word;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
  background-color: var(--color-primary);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 6px;
  font-size: 20px;
  line-height: 48px;
  padding: 0 16px;
  width: 250px;
  margin: 40px 30px 40px 30px;
}

.btn-register:hover {
  background-color: var(--color-hover);
}

.register {
  margin-bottom: 30px;
}
