.cat-menu{
    position: relative;
    height: 40px;
    top: 30px;
}

.cat-menu-items {
    position: relative;
    width: 1130px;
    padding: 0 133px;
    margin: 0 auto;
}

.cat-item {
    margin-right: 20px;
    color: var(--color-gray);
    font-size: large;
}