<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    <tr>
        <th>UserID</th>
        <th>username</th>
        <th>Email</th>
        <th>Email Confirm 여부</th>
        <th>현재 Study 갯수</th>
        <th>현재 Question 갯수</th>
        <th>현재 Chat 갯수</th>
        <th>탈퇴</th>
        <th></th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.userId}">username</td>
        <td th:text="${user.username}">username</td>
        <td th:text="${user.email}">username</td>
        <td th:text="${user.emailValidation}">0</td>
        <td th:text="${user.studiesSize}">0</td>
        <td th:text="${user.questionsSize}">0</td>
        <td th:text="${user.chatSize}">0</td>
        <td th:with="userId=${user.userId}">
            <form th:action="@{'/admin/{userId}'(userId=${userId})}" th:method="delete">
                <button type="submit" >회원 탈퇴</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>